<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间,包含+SQL映射文件名-->
<mapper namespace="com.ablaze.mapper.AdminInfoMapper">

    <resultMap id="adminInfoMap" type="AdminInfo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="fs" ofType="Functions" column="id"
                    select="com.ablaze.mapper.FunctionsMapper.findFunctionsByAid"/>
    </resultMap>

    <resultMap id="adminInfoMap2" type="AdminInfo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="fs" ofType="Functions">
            <id property="id" column="fid"/>
            <result property="name" column="fname"/>
        </collection>
    </resultMap>

    <!--查 多对多 嵌套查询-->
    <!--<select id="findAdminInfoById" resultMap="adminInfoMap" parameterType="int">
        select *
        from admin_info as a
        where id = #{id};
    </select>-->

    <select id="findAdminInfoById2" resultMap="adminInfoMap2" parameterType="int">
        select a.*, f.id fid, f.name fname
        from powers p,
             admin_info a,
             functions f
        where a.id = p.aid
          and f.id = p.fid
          and a.id = #{id};
    </select>
</mapper>