<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间,包含+SQL映射文件名-->
<mapper namespace="com.ablaze.mapper.PersonMapper">

    <resultMap id="personResultMap" type="Person">
        <association property="idcard" column="cid"
                     select="com.ablaze.mapper.IdCardMapper.findIdCardById"
                     javaType="IdCard">
        </association>
    </resultMap>

    <select id="findPersonById" resultMap="personResultMap">
        select *
        from person
        where id = #{id}
    </select>

</mapper>