<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间,包含+SQL映射文件名-->
<mapper namespace="com.ablaze.mapper.ProductInfoMapper">

    <insert id="addProductInfo">
        insert into product_info values(null,#{code},#{name},#{type.id})
    </insert>

    <delete id="deleteProductInfoById">
        delete p from type as t inner join product_info as p on t.id = p.tid where t.id = #{id};
    </delete>

    <select id="findProductInfoById" resultType="ProductInfo">
        select * from product_info where tid = #{id}
    </select>

</mapper>