<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间,包含+SQL映射文件名-->
<mapper namespace="com.ablaze.mapper.TypeMapper">

    <resultMap id="typeMap" type="Type">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="pis" column="id" select="com.ablaze.mapper.ProductInfoMapper.findProductInfoById"/>
    </resultMap>

    <insert id="addType" keyProperty="id" useGeneratedKeys="true">
        insert into type(name) values (#{name})
    </insert>
    <!--delete from product_info where tid = #{id};
        delete from type where id = #{id};-->
    <!--delete p from type as t inner join product_info as p on t.id = p.tid where t.id = #{id};-->
    <!--delete t from type as t where t.id = #{id};-->
    <delete id="deleteTypeById">
        delete t from type as t where t.id = #{id};
    </delete>

    <select id="findTypeById" resultMap="typeMap">
        select * from type where id = #{id}
    </select>

</mapper>